In [2]:
import pandas as pd
import numpy as np
import pyranges as pr
from tqdm.auto import tqdm

In [3]:
gene_annotation_df = pd.read_parquet('/s/project/geno2pheno/data/gencode_v45_protein_coding.pq')
gene_annotation_df

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,gene_type,...,transcript_support_level,havana_transcript,exon_number,exon_id,hgnc_id,havana_gene,ont,protein_id,ccdsid,artif_dupl
0,1,HAVANA,gene,65418,71585,.,+,.,ENSG00000186092,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:14825,OTTHUMG00000001094.4,NaN,NaN,NaN,NaN
1,1,HAVANA,gene,923922,944575,.,+,.,ENSG00000187634,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:28706,OTTHUMG00000040719.11,NaN,NaN,NaN,NaN
2,1,HAVANA,gene,960583,965719,.,+,.,ENSG00000187961,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:24023,OTTHUMG00000040721.8,NaN,NaN,NaN,NaN
3,1,HAVANA,gene,966481,975865,.,+,.,ENSG00000187583,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:25284,OTTHUMG00000040756.5,NaN,NaN,NaN,NaN
4,1,HAVANA,gene,1001137,1014540,.,+,.,ENSG00000187608,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:4053,OTTHUMG00000040777.4,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23209,Y,HAVANA,gene,22168541,22182982,.,-,.,ENSG00000169800,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:23974,OTTHUMG00000043593.1,NaN,NaN,NaN,NaN
23210,Y,HAVANA,gene,23129354,23199010,.,-,.,ENSG00000188120,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:2682,OTTHUMG00000044053.1,NaN,NaN,NaN,NaN
23211,Y,HAVANA,gene,24045228,24048019,.,-,.,ENSG00000172352,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:23920,OTTHUMG00000045037.1,NaN,NaN,NaN,NaN
23212,Y,HAVANA,gene,24763068,24813492,.,-,.,ENSG00000187191,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:15965,OTTHUMG00000045099.2,NaN,NaN,NaN,NaN
23213,Y,HAVANA,gene,25030900,25062548,.,-,.,ENSG00000185894,protein_coding,...,NaN,NaN,NaN,NaN,HGNC:18225,OTTHUMG00000045199.3,NaN,NaN,NaN,NaN

In [4]:
import os

dun = set(os.listdir('/s/project/uk_biobank/processed/clumping/'))

df = pd.read_parquet('/s/project/geno2pheno/predictions/bayesian/v108cov_deepRVAT_genes_extended.pq')
todo = set(df.phenocode.unique())

len(dun.intersection(todo))

41

In [5]:
df[['trait', 'phenocode']].drop_duplicates()

                                             trait phenocode
0                                 Apolipoprotein_A     30630
17517                                      Calcium     30680
35034                              HDL_cholesterol     30760
52551                                         IGF1     30770
70068                                   LDL_direct     30780
87585                            Erythrocyte_count     30010
105102                             standing_height        50
122619                               Triglycerides     30870
140136                            Apolipoprotein_B     30640
157653                                 Cholesterol     30690
175170                       Lymphocyte_percentage     30180
192687                     Mean_corpuscular_volume     30040
210204                          Thrombocyte_volume     30100
227721                    Mean_reticulocyte_volume     30260
245238                           Neutrophill_count     30140
262755                              Platelet_count     30080
280272                               Platelet_crit     30090
297789                 Platelet_distribution_width     30110
315306                                        SHBG     30830
332823                             Total_bilirubin     30840
350340                                       Urate     30880
367857                                     Glucose     30740
385374                            Direct_bilirubin     30660
402891                                     Albumin     30600
420408                                   Vitamin_D     30890
437925                     systolic_blood_pressure      4080
455442                                        Urea     30670
472959                                   Phosphate     30810
490476                Mean_corpuscular_haemoglobin     30050
507993              Erythrocyte_distribution_width     30070
525510                    Mean_sphered_cell_volume     30270
543027       High_light_scatter_reticulocyte_count     30300
560544  High_light_scatter_reticulocyte_percentage     30290
578061                          Reticulocyte_count     30250
595578                        Alkaline_phosphatase     30610
613095                     Reticulocyte_percentage     30240
630612                  glycated_haemoglobin_hba1c     30750
648129                                  Creatinine     30700
665646                                  Cystatin_C     30720
683163                   Gamma_glutamyltransferase     30730
700680                               BodyMassIndex     21001

In [6]:
# Get index variants after clumping

pval_threshold = 5e-8

ind_var_list = []
for pcode in tqdm(set(df.phenocode)):
    ind_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/GWAS_variants.clumped.vars')
    ind_vars.rename(columns={'SNP':'varid'}, inplace=True)
    
    all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
    
    ind_vars = pd.merge(all_vars, ind_vars, on='varid')
    ind_vars['trait'] = df[df.phenocode==pcode].trait.iloc[0]
    ind_var_list.append(ind_vars[ind_vars.pval_meta_raw <= pval_threshold])
    
ind_dt = pd.concat(ind_var_list)[['chr', 'pos', 'ref', 'alt', 'pval_meta_raw', 'varid', 'trait']].reset_index(drop=True)
ind_dt

  0%|          | 0/41 [00:00<?, ?it/s]

/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')
/scratch/tmp/lond/ipykernel_847266/1433072161.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  all_vars = pd.read_csv(f'/s/project/uk_biobank/processed/clumping/{pcode}/p_values.tsv', sep='\t')

,chr,pos,ref,alt,pval_meta_raw,varid,trait
0,1,1007203,A,G,3.155005e-08,chr1:1007203:A>G,Urate
1,1,1087683,T,C,2.511886e-12,chr1:1087683:T>C,Urate
2,1,1094063,T,C,1.083927e-08,chr1:1094063:T>C,Urate
3,1,1098132,G,A,1.093956e-09,chr1:1098132:G>A,Urate
4,1,1592638,A,G,1.803018e-08,chr1:1592638:A>G,Urate
...,...,...,...,...,...,...,...
262375,X,152890629,TTGAA,T,1.479108e-25,chrX:152890629:TTGAA>T,Urea
262376,X,152907479,C,T,1.513561e-24,chrX:152907479:C>T,Urea
262377,X,152916112,C,CCACAGGG,2.089296e-21,chrX:152916112:C>CCACAGGG,Urea
262378,X,152920935,T,A,2.202926e-10,chrX:152920935:T>A,Urea
262379,X,152930482,G,A,4.365158e-20,chrX:152930482:G>A,Urea

In [7]:
ind_dt['chr'] = ind_dt['chr'].astype(str)
# ind_dt.to_parquet('/s/project/geno2pheno/data/enrichment_data/index_variants.pq')

In [9]:
ind_dt = pd.read_parquet('/s/project/geno2pheno/data/enrichment_data/index_variants.pq')
ind_dt.trait.value_counts()

standing_height                               28295
Thrombocyte_volume                            16872
Platelet_count                                11771
Mean_corpuscular_volume                       10215
Mean_corpuscular_haemoglobin                   9966
Platelet_distribution_width                    9560
Platelet_crit                                  8910
Alkaline_phosphatase                           8448
Erythrocyte_distribution_width                 7609
Mean_reticulocyte_volume                       7580
Mean_sphered_cell_volume                       7432
Erythrocyte_count                              7038
High_light_scatter_reticulocyte_percentage     7035
High_light_scatter_reticulocyte_count          6981
glycated_haemoglobin_hba1c                     6843
Cystatin_C                                     6821
IGF1                                           6745
HDL_cholesterol                                6514
Reticulocyte_count                             6466
Reticulocyte_percentage                        6421
Gamma_glutamyltransferase                      5621
Triglycerides                                  5581
Creatinine                                     5537
SHBG                                           5115
Apolipoprotein_A                               5095
Urate                                          4970
Neutrophill_count                              4365
Lymphocyte_percentage                          4320
BodyMassIndex                                  4298
Total_bilirubin                                4026
Cholesterol                                    3746
Apolipoprotein_B                               3718
LDL_direct                                     3005
Albumin                                        2591
Calcium                                        2507
Direct_bilirubin                               2432
Phosphate                                      1994
Urea                                           1910
systolic_blood_pressure                        1883
Vitamin_D                                      1190
Glucose                                         954
Name: trait, dtype: int64

# Find all genes in a radius r of the index variant

In [10]:
# Find all genes within a radius of the index variant

radius = 5e5

temp_dt = ind_dt.copy()

temp_dt['nearby_genes'] = ''

for i, row in tqdm(temp_dt.iterrows()):
    c = str(row['chr'])
    p = row['pos']
    
    nearby_genes = gene_annotation_df[(gene_annotation_df.Chromosome==c) & (gene_annotation_df.Start >= p-radius) & (gene_annotation_df.End <= p+radius)].gene_id
    
    # Store the matching genes in the corresponding row of ind_dt
    temp_dt.at[i, 'nearby_genes'] = ','.join(nearby_genes)

    
temp_dt['radius'] = radius
temp_dt['chr'] = temp_dt['chr'].astype(str)
temp_dt

0it [00:00, ?it/s]

,chr,pos,ref,alt,pval_meta_raw,varid,trait,nearby_genes,radius
0,1,1007203,A,G,3.155005e-08,chr1:1007203:A>G,Urate,"ENSG00000187634,ENSG00000187961,ENSG0000018758...",500000.0
1,1,1087683,T,C,2.511886e-12,chr1:1087683:T>C,Urate,"ENSG00000187634,ENSG00000187961,ENSG0000018758...",500000.0
2,1,1094063,T,C,1.083927e-08,chr1:1094063:T>C,Urate,"ENSG00000187634,ENSG00000187961,ENSG0000018758...",500000.0
3,1,1098132,G,A,1.093956e-09,chr1:1098132:G>A,Urate,"ENSG00000187634,ENSG00000187961,ENSG0000018758...",500000.0
4,1,1592638,A,G,1.803018e-08,chr1:1592638:A>G,Urate,"ENSG00000162571,ENSG00000176022,ENSG0000016257...",500000.0
...,...,...,...,...,...,...,...,...,...
262375,X,152890629,TTGAA,T,1.479108e-25,chrX:152890629:TTGAA>T,Urea,"ENSG00000268089,ENSG00000221867,ENSG0000018330...",500000.0
262376,X,152907479,C,T,1.513561e-24,chrX:152907479:C>T,Urea,"ENSG00000268089,ENSG00000221867,ENSG0000018330...",500000.0
262377,X,152916112,C,CCACAGGG,2.089296e-21,chrX:152916112:C>CCACAGGG,Urea,"ENSG00000268089,ENSG00000221867,ENSG0000018330...",500000.0
262378,X,152920935,T,A,2.202926e-10,chrX:152920935:T>A,Urea,"ENSG00000268089,ENSG00000221867,ENSG0000018330...",500000.0
262379,X,152930482,G,A,4.365158e-20,chrX:152930482:G>A,Urea,"ENSG00000268089,ENSG00000221867,ENSG0000018330...",500000.0

In [11]:
# Write to file
temp_dt.to_parquet(f'/s/project/geno2pheno/data/enrichment_data/genes_near_variants_r_1e{str(int(np.log10(radius)))}.pq')

In [153]:
pd.read_parquet(f'/s/project/geno2pheno/data/enrichment_data/genes_near_variants_r_1e{str(int(np.log10(radius)))}.pq')

,chr,pos,ref,alt,pval_meta_raw,varid,trait,nearby_genes,radius
0,1,1510035,GGC,G,2.811901e-09,chr1:1510035:GGC>G,IGF1,"ENSG00000188157, ENSG00000162571, ENSG00000176...",500000.0
1,1,2120625,C,A,4.275629e-10,chr1:2120625:C>A,IGF1,"ENSG00000189409, ENSG00000169885, ENSG00000187...",500000.0
2,1,2151807,G,C,9.440609e-09,chr1:2151807:G>C,IGF1,"ENSG00000169885, ENSG00000187730, ENSG00000067...",500000.0
3,1,2156999,G,C,1.342765e-08,chr1:2156999:G>C,IGF1,"ENSG00000169885, ENSG00000187730, ENSG00000067...",500000.0
4,1,2202967,T,C,1.513561e-11,chr1:2202967:T>C,IGF1,"ENSG00000169885, ENSG00000187730, ENSG00000067...",500000.0
...,...,...,...,...,...,...,...,...,...
262375,X,152890629,TTGAA,T,1.479108e-25,chrX:152890629:TTGAA>T,Urea,"ENSG00000268089, ENSG00000221867, ENSG00000183...",500000.0
262376,X,152907479,C,T,1.513561e-24,chrX:152907479:C>T,Urea,"ENSG00000268089, ENSG00000221867, ENSG00000183...",500000.0
262377,X,152916112,C,CCACAGGG,2.089296e-21,chrX:152916112:C>CCACAGGG,Urea,"ENSG00000268089, ENSG00000221867, ENSG00000183...",500000.0
262378,X,152920935,T,A,2.202926e-10,chrX:152920935:T>A,Urea,"ENSG00000268089, ENSG00000221867, ENSG00000183...",500000.0
262379,X,152930482,G,A,4.365158e-20,chrX:152930482:G>A,Urea,"ENSG00000268089, ENSG00000221867, ENSG00000183...",500000.0

# Find k nearest genes to index variant

In [182]:
k=3

temp_dt = ind_dt.copy()

temp_dt['nearby_genes'] = ''

for i, row in tqdm(temp_dt.iterrows()):
    c = str(row['chr'])
    p = row['pos']

    # Calculate distances from the given position
    gene_annotation_df['Distance'] = abs(gene_annotation_df['Start'] - p)
    
    # Filter genes within the radius and select top k nearest genes
    nearest_genes = gene_annotation_df[(gene_annotation_df['Chromosome'] == c)].nsmallest(k, 'Distance')['gene_id']
                                        # & (gene_annotations_dt['Distance'] <= radius)].nlargest(k, 'Distance')['Gene']
    
    # Store the nearest genes in the corresponding row of ind_dt
    temp_dt.at[i, 'nearby_genes'] = ','.join(nearest_genes)
    
temp_dt['radius'] = f'{k}_NN'
temp_dt['chr'] = temp_dt['chr'].astype(str)
temp_dt

0it [00:00, ?it/s]

,chr,pos,ref,alt,pval_meta_raw,varid,trait,nearby_genes,radius
0,1,1510035,GGC,G,2.811901e-09,chr1:1510035:GGC>G,IGF1,"ENSG00000197785,ENSG00000205090,ENSG00000160075",3_NN
1,1,2120625,C,A,4.275629e-10,chr1:2120625:C>A,IGF1,"ENSG00000162585,ENSG00000067606,ENSG00000187730",3_NN
2,1,2151807,G,C,9.440609e-09,chr1:2151807:G>C,IGF1,"ENSG00000162585,ENSG00000157933,ENSG00000067606",3_NN
3,1,2156999,G,C,1.342765e-08,chr1:2156999:G>C,IGF1,"ENSG00000162585,ENSG00000157933,ENSG00000067606",3_NN
4,1,2202967,T,C,1.513561e-11,chr1:2202967:T>C,IGF1,"ENSG00000162585,ENSG00000157933,ENSG00000116151",3_NN
...,...,...,...,...,...,...,...,...,...
262375,X,152890629,TTGAA,T,1.479108e-25,chrX:152890629:TTGAA>T,Urea,"ENSG00000147394,ENSG00000147383,ENSG00000147400",3_NN
262376,X,152907479,C,T,1.513561e-24,chrX:152907479:C>T,Urea,"ENSG00000147394,ENSG00000147383,ENSG00000147400",3_NN
262377,X,152916112,C,CCACAGGG,2.089296e-21,chrX:152916112:C>CCACAGGG,Urea,"ENSG00000147394,ENSG00000198883,ENSG00000147383",3_NN
262378,X,152920935,T,A,2.202926e-10,chrX:152920935:T>A,Urea,"ENSG00000147394,ENSG00000198883,ENSG00000147383",3_NN
262379,X,152930482,G,A,4.365158e-20,chrX:152930482:G>A,Urea,"ENSG00000147394,ENSG00000198883,ENSG00000147383",3_NN

In [183]:
# Write to parquet file

# temp_dt['chr'] = temp_dt['chr'].astype(str)
temp_dt.to_parquet(f'/s/project/geno2pheno/data/enrichment_data/genes_near_variants_KNN_{k}.pq')

In [170]:
p = ind_dt.iloc[0].pos
gene_annotation_df['Distance'] = abs(gene_annotation_df['Start'] - p)
gene_annotation_df

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,gene_type,...,havana_transcript,exon_number,exon_id,hgnc_id,havana_gene,ont,protein_id,ccdsid,artif_dupl,Distance
0,1,HAVANA,gene,65418,71585,.,+,.,ENSG00000186092,protein_coding,...,NaN,NaN,NaN,HGNC:14825,OTTHUMG00000001094.4,NaN,NaN,NaN,NaN,1444617
1,1,HAVANA,gene,923922,944575,.,+,.,ENSG00000187634,protein_coding,...,NaN,NaN,NaN,HGNC:28706,OTTHUMG00000040719.11,NaN,NaN,NaN,NaN,586113
2,1,HAVANA,gene,960583,965719,.,+,.,ENSG00000187961,protein_coding,...,NaN,NaN,NaN,HGNC:24023,OTTHUMG00000040721.8,NaN,NaN,NaN,NaN,549452
3,1,HAVANA,gene,966481,975865,.,+,.,ENSG00000187583,protein_coding,...,NaN,NaN,NaN,HGNC:25284,OTTHUMG00000040756.5,NaN,NaN,NaN,NaN,543554
4,1,HAVANA,gene,1001137,1014540,.,+,.,ENSG00000187608,protein_coding,...,NaN,NaN,NaN,HGNC:4053,OTTHUMG00000040777.4,NaN,NaN,NaN,NaN,508898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23209,Y,HAVANA,gene,22168541,22182982,.,-,.,ENSG00000169800,protein_coding,...,NaN,NaN,NaN,HGNC:23974,OTTHUMG00000043593.1,NaN,NaN,NaN,NaN,20658506
23210,Y,HAVANA,gene,23129354,23199010,.,-,.,ENSG00000188120,protein_coding,...,NaN,NaN,NaN,HGNC:2682,OTTHUMG00000044053.1,NaN,NaN,NaN,NaN,21619319
23211,Y,HAVANA,gene,24045228,24048019,.,-,.,ENSG00000172352,protein_coding,...,NaN,NaN,NaN,HGNC:23920,OTTHUMG00000045037.1,NaN,NaN,NaN,NaN,22535193
23212,Y,HAVANA,gene,24763068,24813492,.,-,.,ENSG00000187191,protein_coding,...,NaN,NaN,NaN,HGNC:15965,OTTHUMG00000045099.2,NaN,NaN,NaN,NaN,23253033
23213,Y,HAVANA,gene,25030900,25062548,.,-,.,ENSG00000185894,protein_coding,...,NaN,NaN,NaN,HGNC:18225,OTTHUMG00000045199.3,NaN,NaN,NaN,NaN,23520865

In [171]:
gene_annotation_df.sort_values('Distance')['gene_id']

14600    ENSG00000187535
21726    ENSG00000284967
16461    ENSG00000185988
16       ENSG00000197785
19676    ENSG00000235905
              ...
2058     ENSG00000259823
2059     ENSG00000175137
1040     ENSG00000171161
2060     ENSG00000171163
1041     ENSG00000185220
Name: gene_id, Length: 23214, dtype: object

In [173]:
', '.join(gene_annotation_df.nsmallest(2, 'Distance')['gene_id'])

'ENSG00000187535, ENSG00000284967'